
@font-face {
    font-family: "Lato";
    src: local('Lato'),
        url(..//..//fonts/Lato/Lato-Regular.ttf) format('truetype');
    font-weight: normal;
}

.wrapper{
    background-color: #ffffff ;
    display:flex;
    width: 800px;
    flex-direction: column;
    
}
.messages{

    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

